:root {
  font-family: 'PingFang SC', 'Microsoft YaHei', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 14px;
  color: #1d2129;
  background-color: #f3f4f6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.drag-selecting {
  user-select: none;
  cursor: grab;
}
