:root {
  font-family: 'Segoe UI', 'PingFang SC', 'Microsoft Yahei', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f6f7fb;
  background-color: #050506;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top, #1a1b20, #050506 70%);
}

#app {
  min-height: 100vh;
}
